# Variables
int, float, string, string<br>
variables type

In [19]:
a = 12.2

In [20]:
type(a)

float

# Operators
<p>*, +, -, /, **, %</p>

In [42]:
a=2
b=3
# c=a+b
# c=b-a
c = b%a

In [43]:
print(c)

1

# String
a+b,range, upper, lower, split, join, replace, strip

In [64]:
a="hi"
b="sTudent"
c = a+" "+b
print(c)
print(c[3:5])
print(c.upper())
print(c.lower())
s = c.split(' ')
print(s)
print(' '.join(s))
print(c.replace(' ','+'))

s1 = " ali "
print(s1.strip())
print(s1.lstrip())
print(s1.rstrip())

hi sTudent
sT
HI STUDENT
hi student
['hi', 'sTudent']
hi sTudent
hi+sTudent
ali
ali
 ali

# Loop
For, While

In [66]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [68]:
i=0
while i<10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9

# List []
Type, Length, Items, Range, Insert, Change Value, Append, Remove, Pop, Sort, Sort(reverse = True), Reverse

In [114]:
a = [1,2,3,4,5,6,7]
a[2:-1]

[3, 4, 5, 6]

In [76]:
type(a)

list

In [85]:
print(a)
print(len(a))
print(a[1])
print(a[1:5])
print(a[3:-2])

[1, 2, 3, 4, 5, 6, 7]
7
2
[2, 3, 4, 5]
[4, 5]

In [88]:
b = ['a','b',"C",'a',4]
print(b)
b[0]="hi"
print(b)

['a', 'b', 'C', 'a', 4]
['hi', 'b', 'C', 'a', 4]

In [89]:
a+b

[1, 2, 3, 4, 5, 6, 7, 'hi', 'b', 'C', 'a', 4]

In [106]:
a = [10,2,30]
# a.append('f')
# a
a.sort(reverse = True)
print(a)

[30, 10, 2]

In [110]:
b=[1,5,2,0,6]
b.reverse()
print(b)
b.pop(1)
print(b)

[6, 0, 2, 5, 1]
[6, 2, 5, 1]

# Tuple ()
Type, Lenght, Items, Range, List to Tupe, Tuple to List, +,

In [131]:
a=(1,2,3,4)
b=(10,20,30,40)
print(type(a))
print(a[0])
print(len(a))
print(a[1:3])
print(a+b)
# a[1] = 5
l1 = list(a)
print(type(l1))
l1[1] = 5
print(l1)
l = [1,2,3]
t = tuple(l)
print(type(t))

<class 'tuple'>
1
4
(2, 3)
(1, 2, 3, 4, 10, 20, 30, 40)
<class 'list'>
[1, 5, 3, 4]
<class 'tuple'>

# Set {}
Type, Lenght, Add, Remove

In [145]:
s1 = {'1',1,'s'}
print(type(s1))
print(len(s1))
s1.add(5)
print(s1)
print(s1.pop())
print(s1.pop())
print(s1)
s1.remove(5)
print(s1)

<class 'set'>
3
{'s', 1, '1', 5}
s
1
{'1', 5}
{'1'}

# Dictionaries {}
Type, Lenght, Items, Get, Keys, Values, items(), update, Pop

In [172]:
a = dict()
b = {'name':"ali", "family" :"amiri", "age": 25 }
type(b)
print(b)
print(b['age'])
b['age'] = 30
print(b['age'])
print(b.values())
print(b.keys())
print(len(b))
print(b.items())
print(b.pop('age'))
print(b)

{'name': 'ali', 'family': 'amiri', 'age': 25}
25
30
dict_values(['ali', 'amiri', 30])
dict_keys(['name', 'family', 'age'])
3
dict_items([('name', 'ali'), ('family', 'amiri'), ('age', 30)])
30
{'name': 'ali', 'family': 'amiri'}

# If ... Else

In [187]:
i = 0
if i < 0:
    print("<")
elif i == 0:
    print("=")
else:
    print('>')

=

In [189]:
a = [1,'a','b',4,'c',6]
for i in a:
    print(i)

1
a
b
4
c
6

In [194]:
b = {'name':"ali", "family" :"amiri", "age": 25 }
print(list(b.keys()))
for k in list(b.keys()):
    if k =='age':
        print("ok")

['name', 'family', 'age']
ok

In [202]:
try:
    print(b['name'])
except:
    print("Error")

ali

# Functions

In [219]:
def f1(message,b,c):
    print(message, b, c)

f1("hi",'434',"2")

hi 434 2

# Class

In [230]:
class student:
    def __init__(self, name, family):
        self.name = name
        self.family = family
    
    def show(self):
        print(self.name, self.family)

s1 = student("ali", "amiri")

In [231]:
s1.show()

ali amiri